[tooltip] {
  position: relative;
}
[tooltip]::after {
  content: attr(tooltip);
  position: absolute;width: auto;
  left: 0; top: 0;
  background-color: var(--controlss-bg-color);
  color: var(--text-color);
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;transition: .3s;
  z-index: 9999999;
}
[tooltip]:hover::after {
  opacity: 1;transform: translateX(80%);
}