.p-about {
  color: #fff;
}
.flex {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.box {
  width: 30px;
  height: 30px;
  color: #000;
  text-align: center;
  font-size: 30px;
  margin: 5px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
  z-index: 2;
  background: initial;
  border: 0;
}
.box:hover {
  background-color: #ddd;
}
.alert {
  width: 300px;
  height: 180px;
  background-color: #fff;
  font-size: 1.2em;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}
.visible {
  opacity: 1;
  z-index: 3;
  transition: 0.3s;
}
.score {
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  position: absolute;
  top: 0px;
  z-index: 2;
  color: #fff;
}

.bg {
  width: 150px;
  height: 150px;
  position: absolute;
  background: url(../../img/about/bg.jpg) no-repeat;
  background-size: cover;
}
